<main class="posts">
  <div class="posts_container">
  <%= render "public/end_users/current_end_user_menu" %>
    <div class="posts_main">
     <%= render 'layouts/flash'%>
     <%= render "public/end_users/other_user_review", {end_user: @end_user} %>
      <nav class="post_select">
        <ul>
          <li><%= link_to "評価一覧", public_end_users_reviews_index_path(id: @end_user.id), class:"select-btns"%></li>
        </ul>
      </nav>
      <% if @reviews.blank? %>
       <div class="about">
        <p>
         投稿データはありません。
        </p>
      <% end%>
      <%= render "public/posts/posts_reviews_index", {reviews: @reviews ,review: @review} %>
    </div>
   <%= render "public/end_users/right_menu", {ranking_users: @ranking_users ,random: @random,review: @review} %>
  </div>
</main>
<%= render "public/posts/review_ratyset"%>