<main class="posts">
  <div class="posts_container">
    <%= render "public/end_users/current_end_user_menu" %>
    <div class="posts_main">
    <%= render 'layouts/flash'%>
    <%= render "public/end_users/other_user", {end_user: @end_user} %>
      <nav class="post_select">
        <ul>
          <li><%= link_to "投稿一覧へ", public_end_user_path(@end_user.id), class:"select-btns"%></li>
        </ul>
      </nav>
      <% if @posts.blank? %>
        <div class="about">
          <p>
            投稿データはありません。
          </p>
      <% end%>
      <div class="scroll-list jscroll">
        <% @posts.each do |post| %>
          <% if post.title_id.blank? %>
            <section class="post_index">
              <%= link_to (public_end_user_path(post.end_user.id)) do%>
                <div class="account_date">
                  <%= attachment_image_tag post.end_user, :image ,class: "user_image", fallback: "no_image.jpg", size: "30x30"%>
                  <p class="account_name"><%= post.end_user.name %>さんの面白投稿</p>
                </div>
              <% end%>

              <%= link_to (public_post_path(post.id)) do%>
                <%= attachment_image_tag post, :image ,class: "post_index_image", fallback: "no_image_post.png"%>
                <div class="post_main">
                  <p class="post_body"><%= post.body %></p>
              <% end%>

                  <% if post.reviews.where(end_user_id: current_end_user.id).blank? %>
                    <%= form_with(model: @review, url: public_post_reviews_path(post.id), local: true, method: :POST) do |f| %>
                      <div id="star-rate-<%= post.id %>"></div>
                        <script src="star-rate"></script>
                      <p class="star">★×<%=post.reviews.sum(:rate).floor%></p>
                      <%= f.submit "評価", class: "form_btn"%>
                    <% end %>

                  <% else%>

                    <%= form_with(model: post.reviews.where(end_user_id: current_end_user.id), url: public_post_review_path(post.id, post.reviews.where(end_user_id: current_end_user.id).pluck(:id)), local: true, method: :PATCH) do |f| %>
                      <div id="edit-comf-<%= post.id%>"></div>
                        <script src="edit-rate"></script>
                      <p class="star">★×<%=post.reviews.sum(:rate).floor%></p>
                      <%= f.submit "再評価", class: "edit_form_btn"%>
                    <% end%>
                  <% end%>

                  <%= link_to "コメント",public_post_path(post.id),class: "post_show"%>
                  <% if post.end_user_id == current_end_user.id %>
                    <%= link_to "編集",edit_public_post_path(post.id),class: "post_show"%>
                  <% end%>
                </div>
            </section>
          <% end %>
        <% end %>
        <%= paginate @posts %>
      </div>
    </div>
   <%= render "public/end_users/right_menu", {ranking_users: @ranking_users ,random: @random,review: @review} %>
  </div>
</main>
<%= render "public/posts/post_ratyset"%>