<main class="posts">
  <div class="posts_container">
　  <%= render "public/end_users/current_end_user_menu" %>
    <div class="posts_main">
     <%= render "public/end_users/other_user_review", {end_user: @end_user} %>
     <%= render 'layouts/flash'%>
      <nav class="post_select">
        <ul>
          <li><%= link_to "評価一覧", public_end_users_reviews_index_path(id: @end_user.id), class:"select-btns"%></li>
        </ul>
      </nav>
      <% if @posts.blank? %>
       <div class="about">
        <p>
         投稿データはありません。
        </p>
      <% end%>
      <%= render "public/posts/posts_reviews_index", {reviews: @reviews ,review: @review} %>
   </div>
  </div>
 </main>
<script>
function ratySet() {
 <%Review.all.each do |review| %>
  $('#star-rate-<%= review.id %>').empty();
  $('#star-rate-<%= review.id %>').raty({
   starOn: "<%= asset_path('star-on.png') %>",
   starOff: "<%= asset_path('star-off.png') %>",
   starHalf: "<%= asset_path('star-half.png') %>",
   scoreName: 'review[rate]' });
  $('#edit-comf-<%= review.id%>').empty();
  $('#edit-comf-<%= review.id%>').raty({
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   score: <%= review.post.reviews.where(end_user_id: current_end_user.id).pluck(:rate) %>,
   scoreName: 'review[rate]', });
  $('#star-rate-<%= review.id %>').empty();
  $('#star-rate-<%= review.id %>').raty({
   starOn: "<%= asset_path('star-on.png') %>",
   starOff: "<%= asset_path('star-off.png') %>",
   starHalf: "<%= asset_path('star-half.png') %>",
   scoreName: 'review[rate]' });
  $('#edit-comf-<%= review.id%>').empty();
  $('#edit-comf-<%= review.id%>').raty({
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   score: <%= review.post.reviews.where(end_user_id: current_end_user.id).pluck(:rate) %>,
   scoreName: 'review[rate]',});
 <%end%>
 }
 $(window).on('scroll', function() {
  setTimeout('ratySet();', 1500);
 });
</script>