<main class="posts">
 <div class="posts_container">
  <div class="posts_main">
    <h3>コメント一覧</h3>
      <table>
       <thead>
        <tr>
         <th>ID</th>
         <th>コメント</th>
         <th>投稿</th>
        </tr>
       </thead>
       <div class="scroll-list jscroll">
       <tbody>
        <% @comments.each do |comment| %>
        <tr>
         <td>
          <%= link_to edit_admin_comment_path(comment.id) do%>
           <%= comment.id %>
          <% end %>
         </td>
         <td>
          <%= link_to edit_admin_comment_path(comment.id) do%>
           <%= comment.comment %>
          <% end %>
         </td>
         <td>
          <%= link_to edit_admin_post_path(comment.post.id) do%>
           <%= comment.post.body%>
          <% end %>
         </td>
        </tr>
       <% end %>
      </tbody>
     </table>
    </div>
  </div>
 </div>
</main>