<% @titles.each do |title| %>
<div>
　<%= link_to public_title_path(title.id) do%>
  　<%= attachment_image_tag title, :image %>
  <% end%>
  <p>ユーザーネーム：<%= title.end_user.name %></p>
  <p><%= title.body %></p>
  <p>投稿日時：<%= title.created_at.strftime('%Y/%m/%d') %></p>
  <p>詳細をみる</p>
</div>
<% end %>