<%= form_with model: @post, url: public_post_path(@post.id), local:true do |f| %>
 <div>
  <label>投稿画像</label>
  <%= f.attachment_field :image%>
 </div>
 <div>
  <label>投稿内容</label>
  <%= f.text_field :body, placeholder: "投稿内容"%>
 </div>
 <div>
  <label>ジャンル</label>
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい"%>
 </div>
 <%= f.submit "編集する"%>
 <%= link_to "削除する", public_post_path(@post.id), method: :DELETE%>
<% end %>
