<main class="posts">
  <div class="posts_container">
   <%= render "public/end_users/current_end_user_menu" %>
    <div class="posts_main">
     <%= render 'layouts/flash'%>
      <nav class="post_select">
        <ul>
         <li><%= link_to "大喜利", public_posts_title_reviews_index_path(order: "reviews"), class:"select-btns"%></li>
        </ul>
      </nav>
      <%= render "posts_reviews_index", {reviews: @reviews ,review: @review} %>
   </div>
   <%= render "public/end_users/right_menu", {ranking_users: @ranking_users ,random: @random,review: @review} %>
  </div>
 </main>
<%= render "public/posts/review_ratyset"%>