<main class="posts">
  <div class="posts_container">
   <%= render "public/end_users/current_end_user_menu" %>
    <div class="posts_main">
     <%= render 'layouts/flash'%>
      <nav class="post_select">
        <ul>
          <li><%= link_to "面白投稿", public_posts_path(order: @url) , class:"select-btns"%></li>
          <li><%= link_to "大喜利", public_posts_title_posts_index_path(order: @url), class:"select-btns"%></li>
        </ul>
      </nav>
      <%= render "posts_reviews_index", {reviews: @reviews ,review: @review} %>
   </div>
  </div>
 </main>
<%= render "public/posts/review_ratyset"%>