 <% if @post.title_id.present? %>
  <div>
   <label>お題</label>
   <%= @post.title.body%>
  </div>
 <% end%>
 <div>
  <label>投稿画像</label>
  <%= attachment_image_tag @post, :image, format: 'jpeg', fallback: "no_image.jpg", size: "160x160" %>
 </div>
 <div>
  <label>投稿内容</label>
  <%= @post.body%>
 </div>
 <div>
  <label>ジャンル</label>
  <%= @post.genre.name%>
 </div>
  <%= link_to edit_public_post_path(@post.id) do%>
   <p>編集する</p>
  <% end%>
 <div>
  <p>コメント一覧</p>
  <% @comments.each do |comment| %>
    <div>
     <%= comment.comment %>
    </div>
  <% end %>
  <% @reviews.each do |review| %>
   <div class="post-rate" data-score="<%= review.rate %>"></div>
  <% end %>
  <% if end_user_signed_in? %>
    <%= form_with(model: @review, url: public_post_reviews_path(@post.id), local: true) do |f| %>
       <div id="rate_stars">
        <label>評価</label>
       </div>
     <%= f.submit "評価をする"%>
    <% end %>
    <%= form_with(model: @comment, url: public_post_comments_path(@post.id), local: true) do |f| %>
      <%= f.text_field :comment%>
      <div class="actions">
       <%= f.submit "コメントをする"%>
      </div>
    <% end %>
  <% end %>
<script>
  $('#rate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[rate]'
  });
  $('.post-rate').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>