<main class="posts">
  <div class="posts_container">
   <%= render "public/end_users/current_end_user_menu" %>
    <div class="posts_main">
     <%= render 'layouts/flash'%>
      <nav class="post_select">
        <ul>
          <li><%= link_to "面白投稿", public_posts_reviews_index_path(order: "reviews") , class:"select-btns"%></li>
        </ul>
      </nav>
     <%= render "public/posts/titles_reviews_index", {reviews: @reviews ,review: @review} %>
    </div>
  </div>
</main>
<%= render "public/posts/review_ratyset"%>