<main class="posts">
  <div class="posts_container">
　  <%= render "public/end_users/current_end_user_menu" %>
    <div class="posts_main">
      <nav class="post_select">
        <ul>
          <li class="select-btns">大喜利投稿一覧</li>
        </ul>
      </nav>
     <%= render "public/posts/titles_reviews_index", {reviews: @reviews ,review: @review} %>
    </div>
  </div>
</main>

<script>
function ratySet() {
 <%Review.all.each do |review| %>
  $('#star-rate-<%= review.id %>').empty();
  $('#star-rate-<%= review.id %>').raty({
   starOn: "<%= asset_path('star-on.png') %>",
   starOff: "<%= asset_path('star-off.png') %>",
   starHalf: "<%= asset_path('star-half.png') %>",
   scoreName: 'review[rate]' });
  $('#edit-comf-<%= review.id%>').empty();
  $('#edit-comf-<%= review.id%>').raty({
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   score: <%= review.post.reviews.where(end_user_id: current_end_user.id).pluck(:rate) %>,
   scoreName: 'review[rate]', });
  $('#star-rate-<%= review.id %>').empty();
  $('#star-rate-<%= review.id %>').raty({
   starOn: "<%= asset_path('star-on.png') %>",
   starOff: "<%= asset_path('star-off.png') %>",
   starHalf: "<%= asset_path('star-half.png') %>",
   scoreName: 'review[rate]' });
  $('#edit-comf-<%= review.id%>').empty();
  $('#edit-comf-<%= review.id%>').raty({
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   score: <%= review.post.reviews.where(end_user_id: current_end_user.id).pluck(:rate) %>,
   scoreName: 'review[rate]',});
 <%end%>
 }
 $(window).on('scroll', function() {
  setTimeout('ratySet();', 1500);
 });
</script>