<main class="posts">
 <div class="posts_container">
 <%= render "public/end_users/current_end_user_menu" %>
  <div class="posts_main">
  <%= render 'layouts/flash'%>
   <nav class="posts_select">
    <ul>
     <li><%= link_to "面白投稿", public_posts_path(order: "home") , class:"select-btns"%></li>
     <li><%= link_to "大喜利", public_posts_title_posts_index_path(order: "home"), class:"select-btns"%></li>
    </ul>
   </nav>
   <% if @posts.blank? %>
    <div class="about">
     <p>
      BAKUSHOW!!へようこそ！</br>
      まずは面白い投稿や大喜利をしている人を</br>
      フォローしてみましょう。</br>
      ※詳しいご利用方法は↓をクリック！
     </p>
     <div class="about_img">
      <%= link_to (public_homes_about_path) do %>
       <%= image_tag "about.jpg", size: "368x280" %>
      <% end%>
     </div>
     <div class ="about_img_mini">
      <%= link_to "ご利用ガイド",public_homes_about_path,class: "post_show"%>
     </div>
    </div>
    <%= render "public/posts/posts_index", {posts: @posts ,review: @review} %>
   </div>
   <% end %>
   <div class = "right_menu">
    <div class="ranking">
     <div class="ranking_title">
      <%= image_tag "king_oukan.png", size: "20x20" %>
      ランキング
     </div>
      <div class="ranking_index">
       <%= image_tag "crown1.png", size: "30x30" %>
       <div class="ranking_name">
        <%= attachment_image_tag @end_users.first, :image ,class: "user_image", fallback: "no_image.jpg", size: "25x25"%>
        <%=link_to @end_users.first.name ,public_end_user_path(@end_users.first.id),class: "ranking_name"%>
       </div>
       ★<%= @end_users.first.posts.joins(:reviews).sum(:rate).floor %>
      </div>
      <div class="ranking_index">
       <%= image_tag "crown2.png", size: "25x25" %>
       <div class="ranking_name">
        <%= attachment_image_tag @end_users.second, :image ,class: "user_image", fallback: "no_image.jpg", size: "25x25"%>
        <%=link_to @end_users.second.name ,public_end_user_path(@end_users.second.id),class: "ranking_name"%>
       </div>
       ★<%= @end_users.second.posts.joins(:reviews).sum(:rate).floor %>
      </div>
      <div class="ranking_index">
       <%= image_tag "crown3.png", size: "25x25" %>
       <div class="ranking_name">
        <%= attachment_image_tag @end_users.third, :image ,class: "user_image", fallback: "no_image.jpg", size: "25x25"%>
        <%=link_to @end_users.third.name ,public_end_user_path(@end_users.third.id),class: "ranking_name"%>
       </div>
       ★<%= @end_users.third.posts.joins(:reviews).sum(:rate).floor %>
      </div>
      <div class="ranking_index">
       4位
       <div class="ranking_name">
        <%= attachment_image_tag @end_users.fourth, :image ,class: "user_image", fallback: "no_image.jpg", size: "25x25"%>
        <%=link_to @end_users.fourth.name ,public_end_user_path(@end_users.fourth.id),class: "ranking_name"%>
       </div>
       ★<%= @end_users.fourth.posts.joins(:reviews).sum(:rate).floor %>
      </div>
      <div class="ranking_index">
       5位
       <div class="ranking_name">
        <%= attachment_image_tag @end_users.fifth, :image ,class: "user_image", fallback: "no_image.jpg", size: "25x25"%>
        <%=link_to @end_users.fifth.name ,public_end_user_path(@end_users.third.id),class: "ranking_name"%>
       </div>
       ★<%= @end_users.fifth.posts.joins(:reviews).sum(:rate).floor %>
      </div>
     </div>
   <div class="random_post">
    今日のおすすめ
   </div>
  </div>
</main>
<%= render "public/posts/post_ratyset"%>