<main class="posts">
 <div class="posts_container">
 <%= render "public/end_users/current_end_user_menu" %>
  <div class="posts_main">
  <%= render 'layouts/flash'%>
   <nav class="posts_select">
    <ul>
     <li><%= link_to "面白投稿", public_posts_path(order: "home") , class:"select-btns"%></li>
     <li><%= link_to "大喜利", public_posts_title_posts_index_path(order: "home"), class:"select-btns"%></li>
    </ul>
   </nav>
   <% if @posts.blank? %>
    <div class="about">
     <p>
      BAKUSHOW!!へようこそ！</br>
      まずは面白い投稿や大喜利をしている人を</br>
      フォローしてみましょう。</br>
      ※詳しいご利用方法は↓をクリック！
     </p>
     <div class="about_img">
      <%= link_to (public_homes_about_path) do %>
       <%= image_tag asset_path("about.jpeg"), size: "368x280" %>
      <% end%>
     </div>
     <div class ="about_img_mini">
      <%= link_to "ご利用ガイド",public_homes_about_path,class: "post_show"%>
     </div>
    </div>
    </div>
   <% end %>
   <%= render "public/posts/posts_index", {posts: @posts ,review: @review} %>
  </div>
 </div>
</main>
<script>
function ratySet() {
 <%Post.all.each do |post| %>
  $('#star-rate-<%= post.id %>').empty();
  $('#star-rate-<%= post.id %>').raty({
   starOn: "<%= asset_path('star-on.png') %>",
   starOff: "<%= asset_path('star-off.png') %>",
   starHalf: "<%= asset_path('star-half.png') %>",
   scoreName: 'review[rate]' });
  $('#edit-comf-<%= post.id%>').empty();
  $('#edit-comf-<%= post.id%>').raty({
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   score: <%= post.reviews.where(end_user_id: current_end_user.id).pluck(:rate) %>,
   scoreName: 'review[rate]', });
  $('#star-rate-<%= post.id %>').empty();
  $('#star-rate-<%= post.id %>').raty({
   starOn: "<%= asset_path('star-on.png') %>",
   starOff: "<%= asset_path('star-off.png') %>",
   starHalf: "<%= asset_path('star-half.png') %>",
   scoreName: 'review[rate]' });
  $('#edit-comf-<%= post.id%>').empty();
  $('#edit-comf-<%= post.id%>').raty({
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   score: <%= post.reviews.where(end_user_id: current_end_user.id).pluck(:rate) %>,
   scoreName: 'review[rate]',});
 <%end%>
 }
 $(window).on('scroll', function() {
  setTimeout('ratySet();', 1500);
 });
</script>