<main class="posts">
 <div class="posts_container">
 <%= render "public/end_users/current_end_user_menu" %>
  <div class="posts_main">
  <%= render 'layouts/flash'%>
   <nav class="posts_select">
    <ul>
     <li><%= link_to "面白投稿", public_posts_path(order: "home") , class:"select-btns"%></li>
     <li><%= link_to "大喜利", public_posts_title_posts_index_path(order: "home"), class:"select-btns"%></li>
    </ul>
   </nav>
   <% if @posts.blank? %>
    <div class="about">
     <p>
      BAKUSHOW!!へようこそ！</br>
      まずは面白い投稿や大喜利をしている人を</br>
      フォローしてみましょう。</br>
      ※詳しいご利用方法は↓をクリック！
     </p>
     <div class="about_img">
      <%= link_to (public_homes_about_path) do %>
       <%= image_tag "about.jpg", size: "368x280" %>
      <% end%>
     </div>
     <div class ="about_img_mini">
      <%= link_to "ご利用ガイド",public_homes_about_path,class: "post_show"%>
     </div>
    </div>
    <%= render "public/posts/posts_index", {posts: @posts ,review: @review} %>
   </div>
   <% end %>
   <div class = "right_menu">
    <div class="ranking">
     <div class="ranking_title">
      <%= image_tag "king_oukan.png", size: "20x20" %>
      ランキング
     </div>

    </div>
   </div>
  </div>
</main>
<%= render "public/posts/post_ratyset"%>