<main class="posts">
 <div class="posts_container">
 <%= render "public/end_users/current_end_user_menu" %>
  <div class="posts_main">
  <%= render 'layouts/flash'%>
   <nav class="posts_select">
    <ul>
     <li><%= link_to "面白投稿", public_posts_path(order: "new") , class:"select-btns"%></li>
     <li><%= link_to "大喜利", public_posts_title_posts_index_path(order: "new"), class:"select-btns"%></li>
    </ul>
   </nav>
   <%= render "public/posts/posts_index", {posts: @posts ,review: @review} %>
  </div>
  <%= render "public/end_users/right_menu", {ranking_users: @ranking_users ,random: @random,review: @review} %>
 </div>
</main>
<%= render "public/posts/post_ratyset"%>