<%= render 'layouts/flash'%>
<main class="top_contenr">
 <div class="home_container">
  <section class="top_about">
   <%= image_tag "BAKUSHOW!!_logo.png", size: "300x75",class: "log" %>
    <h1 class="top_title">BAKUSHOW!!で爆笑。</h1>
    <ul>
	    <li class="top_list">面白いと思ったことを投稿しよう。</li>
	    <li class="top_list">大喜利にボケて更に面白くしよう。</li>
	    <li class="top_list">面白い人をフォローしよう。</li>
	    <li class="top_list">笑いを見せ合って輪を広げよう。</li>
	   </ul>
  </section>
  <section class="top_login">
   <div class="other_login">
    <h1>BAKUSHOW!!</h1>
    <%= link_to(new_end_user_session_path, class: "btn-BAKUSHOW") do %>
      <%= image_tag "icon2", size: "45x45"%>
				  <span>
				   ログイン
				  </span>
				<% end %>
    <%= link_to(new_end_user_registration_path, class: "btn-BAKUSHOW") do %>
    　<%= image_tag "icon", size: "45x45"%>
				  <span>
				   新規アカウント作成
				  </span>
				<% end %>
				<h1>ソーシャルアカウントでログイン</h1>
				<ul class="socialBtns">
					<li class="google">
					 <%= link_to(end_user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn-google") do %>
        <i class="fab fa-google-plus"></i>
        <span>Googleでログイン</span>
      <% end %>
     </li>
				</ul>
			</div>
		</section>
  <section class="site_scription">
   <p>
    BAKUSHOW!!は自分の爆笑を共有できる大喜利SNSです。<br>
    まずはアカウント登録をして、面白い投稿をしているユーザーをフォローしましょう。<br>
    タイムラインにはフォローしたユーザーが笑った大喜利や投稿が流れます。<br>
    同じ笑いのツボを持つ人をみつけて、自分にとっての爆笑をひろげましょう。<br>
   </p>
  </section>
	</div>
</main>