<div class="star-edit-group">
  <%= f.label :comfort,'乗り心地', class:'star-title' %>
  <div class="detail-value", id="edit-comf-<%= @review.id %>"></div>
</div>
<script>
  $('#edit-comf-<%= @edit_review.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    score: <%= @review.comfort %>
    scoreName: 'review[comfort]'
  });
</script>