<main class="posts">
 <div class="posts_container">
  <%= render "public/end_users/current_end_user_menu" %>
  <div class="posts_main">
   <%= render 'layouts/flash'%>
   <nav class="post_select">
    <ul>
     <li class="select-btns">お題検索</li>
    </ul>
   </nav>
    <% if @titles.blank? %>
    <div class="about">
     <p>
      ごめんなさい。見つかりませんでした。
     </p>
     <%= link_to (public_homes_about_path) do %>
      <%= image_tag "about.jpeg", size: "460x350" %>
     <% end%>
    </div>
    <% end%>
    <div class="scroll-list jscroll">
      <% @titles.each do |title| %>
        <section class="post_titles">
         <%= link_to (public_end_user_path(title.end_user.id)) do%>
          <div class="account_date_titles">
            <%= attachment_image_tag title.end_user, :image ,class: "user_image", fallback: "no_image.jpg", size: "30x30"%>
            <p class="account_name"><%= title.end_user.name %>さんからのお題</p>
          </div>
         <% end%>
          <%= attachment_image_tag title, :image ,class: "post_index_image", fallback: "no_image_title.png"%>
            <div class="post_main">
              <p class="post_body_titles"><%= title.body %></p>
                <% if end_user_signed_in? %>
                  <%= link_to(public_title_path(title.id),class: "titles_form_btn") do %>
                  ボケる
                  <% end%>
                    <% if title.end_user_id == current_end_user.id %>
                     <div>
                      <%= link_to "編集",edit_public_title_path(title.id),class: "post_show_titles"%>
                     </div>
                    <% end%>
                <% end%>
            </div>
        </section>
      <% end %>
      <%= paginate @titles %>
    </div>
  </div>
 </div>
</main>