<!DOCTYPE html>
<html>
  <head>
    <title>BAKUSHOW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0e09199c98.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if end_user_signed_in? %>
  <header>
   <div class="container">
    <div class="logo_area">
     <%= link_to (public_homes_home_path) do%>
      <%= image_tag "BAKUSHOW!!_logo.png", size: "300x75" %>
     <% end%>
    </div>
    <div class="logo_area_mini">
     <%= link_to (public_homes_home_path) do%>
      <%= image_tag "BAKUSHOW!!_logo.png", size: "150x37" %>
     <% end%>
    </div>
    <nav>
			  <ul>
				  <li><%= link_to "ホーム", public_homes_home_path, class:"nav-btns"%></li>
				  <li><%= link_to "新着", public_homes_new_path, class:"nav-btns"%></li>
				  <li><%= link_to "評価", public_homes_bakushow_path, class:"nav-btns"%></li>
				  <li><%= link_to "人気", public_homes_popular_path,class:"nav-btns"%></li>
				  <li><%= link_to "検索", public_searchs_search_path,class:"nav-btns"%></li>
			  </ul>
		  </nav>
    <div class="logout">
     <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class:"btns"%>
    </div>
    <div class="hamburger_menubox">
		   <input id="hamburger-1" type="checkbox" class="input-hidden">
		    <label for="hamburger-1" class="hamburger-switch hamburger-switch1">
			     <span class="hamburger-switch-line1-before"></span>
			     <span class="hamburger-switch-line1"></span>
			     <span class="hamburger-switch-line1-after"></span>
		    </label>
		    <div class="hamburger-menuwrap">
			     <ul class="hamburger-demo-menulist">
			      <%= render "public/end_users/current_end_user_hamburger" %>
			     </ul>
		    </div>
		    <div class="hamburger-cover"></div>
	   </div>
  </header>
  <% elsif admin_signed_in? %>
  <header>
   <div class="container">
    <div class="logo_area">
     <%= link_to (public_homes_home_path) do%>
      <%= image_tag "BAKUSHOW!!_logo.png", size: "300x75" %>
     <% end%>
    </div>
    <nav>
			  <ul>
				  <li><%= link_to "ユーザー", admin_end_users_path, class:"nav-btns"%></li>
				  <li><%= link_to "お題", admin_titles_path, class:"nav-btns"%></li>
				  <li><%= link_to "投稿", admin_posts_path, class:"nav-btns"%></li>
				  <li><%= link_to "コメント", admin_comments_path,class:"nav-btns"%></li>
				  <li><%= link_to "ジャンル", admin_genres_path,class:"nav-btns"%></li>
			  </ul>
		  </nav>
    <div class="logout">
     <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btns"%>
    </div>
   </div>
  </header>
  <%= render 'layouts/flash'%>
  <% else %>
  <header>
   <div class="container">
   <div class="logo_area">
    <a href="/">
     <%= image_tag "BAKUSHOW!!_logo.png", size: "300x75" %>
    </a>
   </div>
   <div class="logo_area_mini">
    <a href="/">
     <%= image_tag "BAKUSHOW!!_logo.png", size: "150x37" %>
    </a>
   </div>
   <div class="sin-up">
    <%= link_to "新規アカウント作成",new_end_user_registration_path, class:"btns"%>
   </div>
   </div>
  </header>
  <% end %>

    <%= yield %>

  <% if end_user_signed_in? %>
  <% elsif admin_signed_in? %>
  <% else%>
   <footer>
    <div class="container">
     <div class="gest-login">
      <%= link_to 'お試しでちょっと覗いてみる。', end_users_guest_sign_in_path, method: :post,class:"gest-btns" %>
     </div>
    </div>
   </footer>
  <% end%>

  </body>
</html>

